.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 518px}
.u-section-1 .u-text-1 {margin: 45px auto 0 0}
.u-section-1 .u-text-2 {margin: 20px auto 45px 0}.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 722px}
.u-section-2 .u-text-1 {margin: 20px auto 0 0}
.u-section-2 .u-image-1 {width: 376px; height: 249px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 41px 121px 0 auto}
.u-section-2 .u-text-2 {margin: -269px 570px 0 0}
.u-section-2 .u-text-3 {margin: 20px 570px 0 0}
.u-section-2 .u-text-4 {margin: 20px 570px 0 0}
.u-section-2 .u-text-5 {margin: 20px auto 0 0}
.u-section-2 .u-text-6 {margin: 20px auto 0 0}
.u-section-2 .u-text-7 {margin: 20px auto 0 0}
.u-section-2 .u-text-8 {margin: 20px auto 0 0}
.u-section-2 .u-text-9 {margin: 20px auto 60px 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 818px}
.u-section-2 .u-image-1 {margin-top: 52px; margin-right: 34px}
.u-section-2 .u-text-2 {width: auto; margin-top: -280px; margin-right: 470px}
.u-section-2 .u-text-3 {width: auto; margin-right: 470px}
.u-section-2 .u-text-4 {width: auto; margin-right: 470px}
.u-section-2 .u-text-6 {margin-right: 0; margin-left: auto}
.u-section-2 .u-text-7 {margin-right: 0; margin-left: auto}
.u-section-2 .u-text-8 {margin-right: 0; margin-left: auto} }

@media (max-width: 991px){ .u-section-2 .u-text-1 {margin-left: auto}
.u-section-2 .u-image-1 {margin-right: auto}
.u-section-2 .u-text-2 {margin-top: 20px; margin-right: 17px; margin-left: 17px}
.u-section-2 .u-text-3 {margin-left: 17px; margin-right: 17px}
.u-section-2 .u-text-4 {margin-left: 17px; margin-right: 17px}
.u-section-2 .u-text-5 {margin-left: 17px; margin-right: 17px}
.u-section-2 .u-text-6 {margin-left: 0}
.u-section-2 .u-text-7 {margin-left: 0}
.u-section-2 .u-text-8 {margin-left: 0}
.u-section-2 .u-text-9 {margin-right: 0} }

@media (max-width: 767px){ .u-section-2 .u-text-2 {margin-right: 0; margin-left: 0}
.u-section-2 .u-text-3 {margin-right: 0; margin-left: 0}
.u-section-2 .u-text-4 {margin-right: 0; margin-left: 0}
.u-section-2 .u-text-5 {margin-right: 0; margin-left: 0} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 500px}
.u-section-2 .u-image-1 {width: 340px; height: 225px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 854px}
.u-section-3 .u-text-1 {margin: 20px auto 0 0}
.u-section-3 .u-text-2 {margin: 20px 410px 0 0}
.u-section-3 .u-image-1 {width: 430px; height: 299px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 30px auto 0 52px}
.u-section-3 .u-group-1 {width: 414px; min-height: 552px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); height: auto; margin: -376px 156px 30px auto}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-3 {margin: 0 auto}
.u-section-3 .u-text-4 {margin: 10px 0 0}
.u-section-3 .u-form-1 {height: 317px; width: 336px; margin: 20px auto 0}
.u-section-3 .u-form-group-1 {width: 100%}
.u-section-3 .u-form-group-2 {width: 100%}
.u-section-3 .u-form-group-3 {width: 100%}
.u-section-3 .u-form-group-4 {width: 100%}
.u-section-3 .u-btn-1 {border-style: solid; font-weight: 700; text-transform: uppercase; background-image: none} 

@media (max-width: 1199px){ .u-section-3 .u-text-2 {margin-right: 210px}
.u-section-3 .u-group-1 {width: 331px; min-height: 613px; margin-right: 106px}
.u-section-3 .u-form-1 {width: auto} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 1034px}
.u-section-3 .u-text-1 {margin-right: 0}
.u-section-3 .u-text-2 {margin-right: 0}
.u-section-3 .u-image-1 {margin-top: 20px; margin-left: 0}
.u-section-3 .u-group-1 {margin-top: 20px; margin-right: auto}
.u-section-3 .u-form-1 {width: 221px} }

@media (max-width: 767px){ .u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-image-1 {height: 236px; margin-right: initial; margin-left: initial; width: auto} }