.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 648px}
.u-section-1 .u-text-1 {margin: 20px auto 0 0}
.u-section-1 .u-image-1 {width: 432px; height: 288px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 81px 90px 0 auto}
.u-section-1 .u-text-2 {margin: -369px 522px 20px 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 863px}
.u-section-1 .u-text-1 {width: auto; margin-top: 39px}
.u-section-1 .u-image-1 {margin-top: 200px; margin-right: 19px}
.u-section-1 .u-text-2 {width: auto; margin-top: -406px; margin-right: 470px; margin-bottom: 60px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-text-1 {margin-left: 67px; margin-right: 67px; width: auto}
.u-section-1 .u-image-1 {margin-top: 20px; margin-right: auto}
.u-section-1 .u-text-2 {margin-top: 20px; margin-left: 29px; margin-right: 29px; width: auto} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-left: 50px; margin-right: 50px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-text-1 {margin-right: 31px; margin-left: 31px; width: auto}
.u-section-1 .u-image-1 {height: 227px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-2 {margin-right: 0; margin-left: 0; width: auto} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 602px}
.u-section-2 .u-text-1 {margin: 20px auto 0 0}
.u-section-2 .u-image-1 {width: 425px; height: 276px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 33px 60px 0 auto}
.u-section-2 .u-text-2 {margin: -276px auto 0 0}
.u-section-2 .u-text-3 {margin: 20px 535px 0 0}
.u-section-2 .u-text-4 {margin: 20px 535px 0 0}
.u-section-2 .u-text-5 {margin: 20px 535px 0 0}
.u-section-2 .u-text-6 {margin: 20px 535px 60px 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 676px}
.u-section-2 .u-image-1 {margin-top: 60px; margin-right: 25px}
.u-section-2 .u-text-2 {margin-top: -303px}
.u-section-2 .u-text-3 {width: auto; margin-right: 470px}
.u-section-2 .u-text-4 {width: auto; margin-right: 470px}
.u-section-2 .u-text-5 {width: auto; margin-right: 470px}
.u-section-2 .u-text-6 {width: auto; margin-right: 470px} }

@media (max-width: 991px){ .u-section-2 .u-text-1 {margin-left: 58px; margin-right: 58px}
.u-section-2 .u-image-1 {margin-right: auto}
.u-section-2 .u-text-2 {margin-top: 20px; margin-left: auto}
.u-section-2 .u-text-3 {margin-left: 23px; margin-right: 23px; width: auto}
.u-section-2 .u-text-4 {margin-left: 23px; margin-right: 23px; width: auto}
.u-section-2 .u-text-5 {margin-left: 23px; margin-right: 23px; width: auto}
.u-section-2 .u-text-6 {margin-left: 23px; margin-right: 23px; width: auto} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {margin-right: 43px; margin-left: 43px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 621px}
.u-section-2 .u-text-1 {margin-right: 27px; margin-left: 27px}
.u-section-2 .u-image-1 {width: 340px; height: 221px}
.u-section-2 .u-text-2 {margin-right: 0}
.u-section-2 .u-text-3 {margin-right: 0; margin-left: 0; width: auto}
.u-section-2 .u-text-4 {margin-right: 0; margin-left: 0; width: auto}
.u-section-2 .u-text-5 {margin-right: 0; margin-left: 0; width: auto}
.u-section-2 .u-text-6 {margin-right: 0; margin-left: 0; width: auto} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 671px}
.u-section-3 .u-text-1 {margin: 21px auto 0 0}
.u-section-3 .u-text-2 {margin: 20px 570px 0 0}
.u-section-3 .u-image-1 {width: 386px; height: 268px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 30px auto 0 92px}
.u-section-3 .u-group-1 {width: 431px; min-height: 531px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); height: auto; margin: -465px 78px 60px auto}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-3 {margin: 0 auto}
.u-section-3 .u-text-4 {margin-left: auto; margin-right: auto; margin-bottom: 0}
.u-section-3 .u-form-1 {margin: 30px auto 0}
.u-section-3 .u-form-group-1 {width: 100%}
.u-section-3 .u-form-group-2 {width: 100%}
.u-section-3 .u-form-group-3 {width: 100%}
.u-section-3 .u-form-group-4 {width: 100%}
.u-section-3 .u-btn-1 {border-style: solid; font-weight: 700; text-transform: uppercase; background-image: none} 

@media (max-width: 1199px){ .u-section-3 .u-text-2 {margin-right: 370px}
.u-section-3 .u-group-1 {width: 355px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 1154px}
.u-section-3 .u-text-1 {margin-left: auto}
.u-section-3 .u-text-2 {width: 570px; margin-left: auto; margin-right: auto}
.u-section-3 .u-image-1 {margin-left: auto}
.u-section-3 .u-group-1 {min-height: 556px; margin-top: 20px; margin-right: auto} }

@media (max-width: 767px){ .u-section-3 .u-text-2 {width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1137px}
.u-section-3 .u-text-2 {width: 340px}
.u-section-3 .u-image-1 {width: 340px; height: 236px}
.u-section-3 .u-group-1 {min-height: 543px; margin-top: 25px; margin-right: initial; margin-left: initial; width: auto} }